---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 no encontrado">
  <div class="max-w-4xl m-auto min-h-screen grid place-content-center">
    <h1 class="font-semibold text-3xl">
      No se encuentra informacion relacionada a esa ruta
    </h1>
    <img
      class="justify-self-center"
      src="https://midu.dev/images/this-is-fine-404.gif"
      alt="perrito desesperado"
    />
  </div>
</Layout>
